:root {
	--slide-color-1: #000;
	--slide-color-2: #666;
	--slide-background-1: #FFF;
	--slide-background-2: #F8F8F8;
	--slide-background-3: #CCC;
	--slide-background-4: #AAA;
	--slide-background-bad: #A66;
	--slide-incomplete-background: #CCC;
	--slide-incomplete-background-hover: #999;
	--slide-complete-background: #333;
	--slide-complete-background-hover: #000;
	--slide-whiteboard-color: #558;
	--slide-whiteboard-background: #EEE;
	--slide-whiteboard-background-hover: #FFF;
	--slide-link-color: white;
	--slide-link-background: #666;
	--slide-link-background-hover: black;
	--slide-note-color: #025;
	--slide-note-background: #DEF;
	--slide-note-background-hover: #ABD;
	--prompt-color: #090;
	--prompt-color-hover: #060;
	--prompt-background: #F0FFF0;
	--prompt-background-hover: #CFC;
	/*
	--slide-incomplete-background: #FAA;
	--slide-incomplete-background-hover: #A66;
	--slide-complete-background: #AFA;
	--slide-complete-background-hover: #6A6;
	--title-color: black;
	--statement-color: #666;
	--title-background: white;
	--periodicity-color: #009;
	--periodicity-color-hover: #006;
	--periodicity-background: #F0F0FF;
	--periodicity-background-hover: #CCF;
	--link-color: #906;
	--link-color-hover: #603;
	--link-background-1: #FFF0FA;
	--link-background-2: #FFE7FA;
	--link-background-hover: #FCE;
	--child-color: #666;
	--child-color-hover: white;
	--child-background: white;
	--child-background-hover: #999;
	--note-color: #090;
	--note-color-hover: #060;
	--note-background: #F0FFF0;
	--note-background-hover: #CFC;
	 */
}
@font-face {
	font-family: lt-superior;
	src: url(LTSuperior-Regular.otf);
}
@font-face {
	font-family: ubuntu;
	src: url(UbuntuMono-R.ttf);
}
html * {
	font-family: lt-superior;
}
body::-webkit-scrollbar {
	display: none;
}
body {
	margin: 0;
}
#Workspace {
	position: relative;
	left: 15rem;
	display: inline-block;
	width: calc(100vw - 15rem);
	min-height: 100vh;
	user-select: none;
	background: #F6F6F6;
}
.Slide-Column {
	display: inline-block;
	vertical-align: top;
	width: calc(100% / 3);
	height: 100vh;
	margin: 0;
	border: 0;
	outline: 0;
	padding: 0;
	background: var(--slide-background-3);
}
.Slide-Node-Box {
	font-size: 1rem;
	background: var(--slide-background-3);
	color: var(--slide-color-3);
	padding: .5em;
}
.Slide-Node {
	width: calc(100% - 1em);
	border-radius: .5em;
	padding: .5em;
	background: var(--slide-background-1);
	color: var(--slide-color-1);
	box-shadow: .125em .125em .25em var(--slide-background-4);
}
.Slide-Node-Bad {
	color: white;
	background: var(--slide-background-bad);
}
.Slide-Node-Header {
	display: flex;
	align-items: center;
}
.Slide-Active {
	background: var(--slide-background-2);
	color: var(--slide-color-2);
}
.Slide-Active .Slide-Current {
	margin: .5em 0 .5em 0;
}
.Slide-Checkbox {
	flex-shrink: 0;
	font-size: inherit;
	outline: none;
	border: 0;
	height: 1.25em;
	width: 1.25em;
	margin-right: .5em;
}
.Slide-Checkbox-Incomplete {
	background: var(--slide-incomplete-background);
	color: var(--slide-incomplete-background);
}
.Slide-Checkbox-Incomplete:hover {
	background: var(--slide-incomplete-background-hover);
	color: var(--slide-incomplete-background-hover);
}
.Slide-Checkbox-Incomplete:focus {
	background: var(--slide-incomplete-background-hover);
	color: var(--slide-incomplete-background-hover);
}
.Slide-Checkbox-Complete {
	background: var(--slide-complete-background);
	color: var(--slide-complete-background);
}
.Slide-Checkbox-Complete:hover {
	background: var(--slide-complete-background-hover);
	color: var(--slide-complete-background-hover);
}
.Slide-Checkbox-Complete:focus {
	background: var(--slide-complete-background-hover);
	color: var(--slide-complete-background-hover);
}
.Slide-Title {
	flex-grow: 1;
	font-size: 1.25em;
	color: inherit;
	text-align: left;
}
.Slide-Statement {
	color: inherit;
	white-space: pre-wrap;
	margin: 0;
	font-family: lt-superior;
}
.Slide-Notes {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
	gap: .5em;
	padding: .5em;
}
.Slide-Note {
	font-family: ubuntu;
	color: var(--slide-note-color);
	background: var(--slide-note-background);
	white-space: pre-wrap;
	padding: .5em;
	margin: 0;
	box-shadow: .25em .25em .5em var(--slide-background-4);
	border-radius: .25em;
}
.Slide-Note:focus {
	outline: none;
	border: 0;
	background: var(--slide-note-background-hover);
}
.Slide-Note:hover {
	outline: none;
	border: 0;
	background: var(--slide-note-background-hover);
}
.Slide-Whiteboard {
	font-size: 1rem;
	text-align: center;
	margin: .25rem .5rem;
	white-space: normal;
	word-wrap: break-word;
	width: calc(100% - 1.5rem);
	font-family: ubuntu;
	outline: none;
	border: 0;
	padding: .25rem;
	border-radius: .25rem;
	color: var(--slide-whiteboard-color);
	background: var(--slide-whiteboard-background);
}
.Slide-Whiteboard:hover {
	outline: none;
	border: 0;
	background: var(--slide-whiteboard-background-hover);
}
.Slide-Whiteboard:focus {
	outline: none;
	border: 0;
	background: var(--slide-whiteboard-background-hover);
}
.Slide-Link {
	font-size: .75rem;
	margin: .25rem .5rem;
	white-space: normal;
	word-wrap: break-word;
	width: calc(100% - 1.5rem);
	text-align:left;
	font-family: ubuntu;
	outline: none;
	border: 0;
	padding: .25rem;
	color: var(--slide-link-color);
	background: var(--slide-link-background);
}
.Slide-Link:hover {
	outline: none;
	border: 0;
	background: var(--slide-link-background-hover);
}
.Slide-Link:focus {
	outline: none;
	border: 0;
	background: var(--slide-link-background-hover);
}
/*.Title-Card {
	width: calc(100% - 3rem);
	margin: 1rem;
	background: var(--title-background);
	padding: .5rem;
	box-shadow: .25rem .25rem .5rem lightgrey;
}
h1 {
	display: inline;
	font-size: 2rem;
	color: var(--title-color);
	padding: 0;
	margin: 0;
}
.Periodicity-Button {
	font-size: inherit;
	outline: none;
	border: 0;
	height: 1.5em;
	width: 1.5em;
	margin-right: .5em;
}
.Incomplete {
	background: var(--slide-incomplete-background);
	color: var(--slide-incomplete-background);
}
.Incomplete:hover {
	background: var(--slide-incomplete-background-hover);
	color: var(--slide-incomplete-background-hover);
}
.Incomplete:focus {
	background: var(--slide-incomplete-background-hover);
	color: var(--slide-incomplete-background-hover);
}
.Complete {
	background: var(--slide-complete-background);
	color: var(--slide-complete-background);
}
.Complete:hover {
	background: var(--slide-complete-background-hover);
	color: var(--slide-complete-background-hover);
}
.Complete:focus {
	background: var(--slide-complete-background-hover);
	color: var(--slide-complete-background-hover);
}
.Statement {
	margin: 0;
	font-family: monospace;
	font-size: .75rem;
	color: var(--statement-color);
}
.Periodicity-Box {
	margin: .5rem 0 .5rem 0;
}
.Periodicity-Box * {
	padding: .5rem;
	background: var(--periodicity-background);
	color: var(--periodicity-color);
	display: inline-block;
}
.Links {
	width: calc(100% - 2rem);
	margin: 1rem;
	margin-top: 0;
	margin-bottom: .5rem;
	text-align: center;
	border: none;
	border-collapse: collapse;
	box-shadow: .25rem .25rem .5rem lightgrey;
}
.Links tr {
	background: var(--link-background-1);
}
.Links tr:nth-child(even) {
	background: var(--link-background-2);
}
.Links td {
	border: none;
	border-collapse: collapse;
	padding: 0;
}
.Links td {
	background: inherit;
}
.Link {
	font-family: monospace;
	font-size: .75rem;
	background: inherit;
	outline: none;
	border: 0;
	margin: 0;
	padding: .5em;
	display: block;
	width: 100%;
	text-align: left;
	word-break: break-all;
	color: var(--link-color);
}
.Link:hover {
	color: var(--link-color-hover);
	background: var(--link-background-hover);
}
.Link:focus {
	outline: none;
	background: var(--link-background-hover);
	color: var(--link-color-hover);
}
.Link.Focus {
	outline: none;
	background: var(--link-background-hover);
	color: var(--link-color-hover);
}
.Children {
	display: inline-block;
	width: calc(50% - 1.5rem);
	margin: 1rem;
	margin-top: 0;
	margin-right: 0;
}
.Children:only-child {
	display: block;
	width: calc(100% - 2rem);
	margin: 0 1rem 0 1rem;
}
.Child {
	display: block;
	border: none;
	outline: none;
	text-align: left;
	padding: 0;
	margin: 0 0 .25rem 0;
	width: 100%;
	color: var(--child-color);
	font-family: monospace;
	background: #0000;
}
.Child .Title {
	width: calc(100% - 2rem);
	display: inline-block;
	border: none;
	outline: none;
	text-align: left;
	padding: .5rem;
	margin: 0 0 .25rem 0;
	background: var(--child-background);
}
.Child .Title:first-child {
	width: 100%;
}
.Child .Button {
	width: 2rem;
	display: inline-block;
	border: none;
	outline: none;
	text-align: left;
	padding: .5rem;
	margin: 0 0 .25rem 0;
}
.Child .Title:hover {
	outline: none;
	color: var(--child-color-hover);
	background: var(--child-background-hover);
}
.Child .Title:focus {
	outline: none;
	color: var(--child-color-hover);
	background: var(--child-background-hover);
}
.Child .Title.Focus {
	outline: none;
	color: var(--child-color-hover);
	background: var(--child-background-hover);
}
.Child .Periodicity-Button.Incomplete:hover {
	background: var(--slide-incomplete-background);
}
.Child .Periodicity-Button.Incomplete:focus {
	background: var(--slide-incomplete-background);
}
.Child .Periodicity-Button.Complete:focus {
	background: var(--slide-complete-hover);
}
.Child .Periodicity-Button.Complete:hover {
	background: var(--slide-complete-hover);
}
.Notes {
	vertical-align: top;
	display: inline-flex;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	gap: .5rem;
	width: calc(50% - 1rem);
	margin: 1rem;
	margin-top: 0;
	margin-left: .5rem;
}
.Notes:only-child {
	width: calc(100% - 2rem);
	margin: 0 1rem 0 1rem;
}
.Note-Button {
	outline: none;
	border: 0;
	padding: .5rem;
	text-align: left;
	color: var(--note-color);
	background: var(--note-background);
	box-shadow: .25rem .25rem .5rem lightgrey;
}
.Note-Button:hover {
	outline: none;
	border: 0;
	color: var(--note-color-hover);
	background: var(--note-background-hover);
}
.Note-Button:focus {
	outline: none;
	border: 0;
	color: var(--note-color-hover);
	background: var(--note-background-hover);
}
.Note-Button.Focus {
	outline: none;
	border: 0;
	color: var(--note-color-hover);
	background: var(--note-background-hover);
}
.Note {
	margin: 0;
	text-align: left;
}*/
.Prompt-Background {
	position: fixed;
	top: 0;
	right: 0;
	width: calc(100vw - 15rem);
	height: 100vh;
	background: #0006;	
}
.Prompt-Box {
	display: inline-block;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: white;
	border-radius: .5rem;
	padding: 1rem;
}
.Prompt-Text {
	outline: none;
	border: 0;
}
/*
.Periodicity-Select {
	font-family: monospace;
	outline: 0;
	border: 0;
	padding: .5rem;
	font-size: 1rem;
	border-radius: .5rem 0 0 .5rem;
	color: var(--periodicity-color-hover);
	background: var(--periodicity-background-hover);
}
.Periodicity-Select:focus{
	outline: 0;
	border: 0;
	padding: .5rem;
	background: var(--periodicity-color-hover);
	color: white;
}
.Periodicity-Input {
	font-family: monospace;
	border-radius: 0 .5rem .5rem 0;
	outline: none;
	padding: .5rem;
	border: 0;
	color: var(--periodicity-color);
	background: var(--periodicity-background);
	font-size: 1rem;
}
.Periodicity-Input:focus {
	outline: none;
	border: 0;
}
*/
.Prompt-Raw {
	display: block;
	width: 25rem;
	height: 25rem;
	outline: none;
	border: 0;
	overflow: auto;
	background: var(--prompt-background);
	color: var(--prompt-color);
	border-radius: .5rem;
	padding: .5rem;
}
.Prompt-Raw:focus {
	outline: none;
	background: var(--prompt-background-hover);
	color: var(--prompt-color-hover);
}
.Prompt-Raw:hover {
	outline: none;
	background: var(--prompt-background-hover);
	color: var(--prompt-color-hover);
}
.Prompt-Button {
	outline: none;
	border: 0;
	margin: .5rem;
	padding: .5rem;
	background: var(--prompt-background);
	color: var(--prompt-color);
}
.Prompt-Button:hover {
	outline: none;
	border: 0;
	background: var(--prompt-background-hover);
	color: var(--prompt-color-hover);
}
.Prompt-Button:focus {
	outline: none;
	border: 0;
	background: var(--prompt-background-hover);
	color: var(--prompt-color-hover);
}
/*#Menu-Virtual {
	display: inline-block;
	margin: 0;
	padding: 0;
	width: 15rem;
	height: 100vh;
}*/
#Menu {
	user-select: none;
	font-size: .75rem;
	width: 15rem;
	height: 100vh;
	background: #EEE;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	box-shadow: 1px 0 5px #666;
}
.MGUI-Action {
	width: 19.5em;
	background: #999;
	padding: .25em;
	word-break: break-word;
	border-bottom: 1px solid #EEE;
	text-align: right;
	/* break word */
}
.MGUI-Button {
	background: #666;
}
.MGUI-Button:focus .MGUI-Action-Name {
	color: #666;
}
.MGUI-Button:focus .MGUI-Action-Description {
	color: #666;
}
.MGUI-Button:hover {
	color: #666;
	background: white;
}
.MGUI-Button:hover .MGUI-Action-Name {
	color: #666;
}
.MGUI-Button:hover .MGUI-Action-Description {
	color: #666;
}
.MGUI-Glow-True {
	animation: .25s 1 glowtrue;
}
.MGUI-Glow-False {
	animation: .25s 1 glowfalse;
}
@keyframes glowtrue {
	50% {
		background: #6F6;
	}
}
@keyframes glowfalse {
	50% {
		background: #F66;
	}
}
.MGUI-Button:focus {
	color: #666;
	background: white;
	outline: none;
}
.MGUI-Action-Name {
	display: inline-block;
	padding: .25em;
	color: white;
	float: left;
}
.MGUI-Action-Name:only-child {
	display: block;
	float: inherit;
	text-align: left;
}
.MGUI-Action-Symbol {
	display: inline-block;
	height: 1em;
	float: left;
}
.MGUI-Action-Keybinds {
	display: inline-block;
	padding: .25em;
	color: #CCC;
}
.MGUI-Action:hover .MGUI-Action-Keybinds {
	color: #666;
}
.MGUI-Action-Keybind {
	display: inline-block;
	margin-left: .5em;
}
.MGUI-Action-Description {
	margin: .5em;
	color: #DDD;
	text-align: left;
}
